body {
    background: url("../img/pexels-photo-164642.jpeg") no-repeat;
    background-size: cover;
}

.calc-container {
    width: 200px;
    margin: 300px auto;
}

.calc-container input[type=text] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #fff;
}

.calc-container input[type=button] {
    padding: 12px;
    margin: 0;
    display: block;
    width: 25%;
    border: 1px solid black;
    float: left;
}

.calc-container .orange {
    background-color: orange;
    color: #fff;
    font-size: 18;
}

.calc-container input[value="0"] {
    width: 50%;
}